@mixin flexRow(){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
@mixin  flexColumn() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}
@mixin fixedDimensions() {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    border: none;
}
@mixin  dimensions($width, $height, $padding, $margin, $position, $border) {
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
    position: $position;
    border: $border;
}
@mixin measurements($padding, $margin, $position, $border) {
    padding: $padding;
    margin: $margin;
    position: $position;
    border: $border;
}
@mixin fonts($fontSize, $fontColor, $fontWeight, $fontOpacity) {
    font-size: $fontSize;
    color: $fontColor;
    font-weight: $fontWeight;
    opacity: $fontOpacity;
}
//media queries devices break points
@mixin for-mobiles() {
    @media (max-width:600px) {
        @content;
    }
}

@mixin for-tablets(){
    @media (min-width: 601px) and (max-width:768px){
        @content;
    }
}

@mixin for-laptops{
    @media (min-width: 769px) and (max-width:999px){
        @content;
    }
}

@mixin for-desktops{
    @media (min-width: 1000px) and (max-width: 1199px){
        @content;
    }
}