@import './mixins';
.navContainer{
    @include dimensions(100%,auto,0 ,0,fixed,none);
    z-index: 1;
    background-color: white;
    .ncInnner{
        @include dimensions(65%,auto,.3rem 0,auto,relative,none);
         @include flexRow();
         flex-basis: 1;
         @include for-mobiles(){
             width: 100%;
             padding: .45rem .8rem;
         }
         @include for-tablets(){
             width: 100%;
             padding: .45rem .7rem;
         }
         @include for-laptops(){
             width: 92%;
             padding:.42rem .2rem;
         }
         @include for-desktops(){
             width: 86%;
             padding: .42rem .1rem;
         }
        .ncLeft{
            @include dimensions(13%,auto,0,0,relative,none);
            @include for-mobiles(){
                width: 120px;
            }
            @include for-tablets(){
                width: 110px;
            }
            @include for-laptops(){
                width: 110px;
            }
            .nclImage{
                @include dimensions(100%,auto,0,0,relative,none);
                font-weight: 900;
                color:black;
            }
        }
        .ncMiddle{
            @include dimensions(12.6rem,3.6vh,0,0,relative,none);
            flex-basis: 1;
            @include for-mobiles(){
                display: none;
            }
            .ncmInput{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: whitesmoke;
                border: 1px solid rgba(0,0,0,0.1);
                padding-left: 1.5rem;
                font-size: .92rem;
            }
            .searchLogo{
                position: absolute;
                top: 21%;
                left: 2.2%;
                width: 1.2rem;
                height: 1rem;
            }
        }
        .ncRight{
            @include flexRow();
            justify-content: flex-end;
            flex-basis: 1;
            .homeIcon{
                @include dimensions(27px,27px,0,0 .8rem 0 0,relative,none);
                cursor: pointer;
                transform:scale(1);
                transition: transform .5s ease-in-out;
                opacity: 0.8;
                &:hover{
                    transform: scale(1.11);
                    opacity: 1;
                }
            }
            .userImage{
                @include dimensions(27px,27px,0,0,relative,none);
                .image{
                    @include dimensions(100%,100%,0,0,relative,none);
                    border-radius: 50px;
                    cursor: pointer;
                }
            }
        }
    }
}