@import './mixins';
.signContainer{
    @include fixedDimensions();
    @include flexColumn();
    justify-content: center;
    align-items: center;
    padding: 4rem 0 4rem 0;
    .scInner{
        @include dimensions(60%,auto,0,auto,relative,none);
        @include flexRow();
        justify-content: center;
        .sciLeft{
            @include dimensions(51%,75vh,0,0,relative,none);
            overflow: hidden;
            .scilImagee{
                @include dimensions(100%,100%,0,0,relative,none);
                object-fit: cover;
            }
            .sciliInner{
                position: absolute;
                top: 15%;
                left: 31%;
                right: 0;
                bottom: 15%;
                width: 57%;
                height: 54vh;
                overflow: hidden;
                z-index: 1000;
                .sciliInnerImage{
                    @include dimensions(100%,100%,0,0,relative,none);
                    object-fit: contain;
                    border: 3px solid black;
                }
            }
        }
        .sciRight{
            @include dimensions(39%,auto,0,0,relative,none);
            @include flexColumn();
            align-items: center;
            justify-content: center;
            background-color: white;
            .scirTop{
                @include dimensions(100%,auto,2rem 1.2rem,0,relative,1px solid rgba(0,0,0,0.08));
                @include flexColumn();
                justify-content: center;
                align-items: center;
                .scirtTitle{
                    font-family: -apple-system,system-ui,BlinkMacSystemFont,Arial,sans-serif;
                    @include fonts(2.2rem,black,600,1);
                }
                .scirtContnet{
                    @include fonts(1.1rem,black,600,0.7);
                    @include measurements(.8rem 0 ,.2rem 0,relative,none);
                    text-align: center;
                }
                .scirtbutton{
                    @include dimensions(100%,auto,0,.8rem 0 0 0,relative,none);
                    .scirtbInner{
                        @include dimensions(100%,5vh,0,0,relative,none);
                        @include flexRow();
                        justify-content: center;
                        background-color: #0095F6;
                        border-radius: 4px;
                        cursor: pointer;
                        .scirtbiButton{
                            @include fonts(.92rem,white,550,1);
                            background-color: transparent;
                            border: none;
                            outline: none;
                            cursor: pointer;
                        }
                    }
                }
            }
            .scirBottom{
                @include dimensions(100%,auto,0,1.6rem 0 ,relative,none);
                @include flexColumn();
                align-items: center;
                .scirbTitle{
                    @include fonts(.87rem,black,400,1);
                    @include measurements(0,.2rem 0 .8rem 0,relative,none);
                }
                .scirbAppLinks{
                    @include dimensions(100%,auto,0rem 1.5rem,0,relative,none);
                    @include flexRow();
                    .scirbalLeft{
                        @include dimensions(45%,7vh,0,0,relative,none);
                        .scirballImage{
                            @include dimensions(100%,100%,0,0,relative,none);
                            object-fit: contain;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}